:root {
  --main-color: #d1d0d0;
  --text-color-one: #000000;
  --text-color-two: #ffffff;
  --accent-color-one: #988986;
  --accent-color-two: #5c4e4e;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--text-color-one);
}
