:root {
  --main-color: #d1d0d0;
  --text-color-one: #000000;
  --text-color-two: #ffffff;
  --accent-color-one: #988986;
  --accent-color-two: #5c4e4e;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}

h1 {
  background-color: var(--accent-color-two);
  color: var(--main-color);
}

h2 {
  padding: 10px;
  color: var(--accent-color-two);
  font-size: 36px;
}

h3 {
  color: var(--accent-color-two);
  font-size: 25px;
}

#image {
  max-height: 300px;
  width: auto;
  border: solid 5px var(--accent-color-two);
  border-radius: 15px;
}

.page-container {
  margin-left: 100px;
  margin-right: 100px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.page-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-cards {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 10px;
  margin: 10px;
}

.page-links {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 18px;
  color: var(--accent-color-two);
}

a {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  color: var(--main-color);
  background-color: var(--accent-color-two);
}
