:root {
  --main-color: #d1d0d0;
  --text-color-one: #000000;
  --text-color-two: #ffffff;
  --accent-color-one: #988986;
  --accent-color-two: #5c4e4e;
}

.project {
  padding: 20px;
  margin: 20px;
  background: var(--main-color);
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.project:hover {
  transform: translateY(-4px);
  transition: 0.2s ease;
}

.project img {
  height: 500px;
  border: solid 5px var(--accent-color-two);
  border-radius: 15px;
}

.project-title {
  padding: 10px 10px 0px 10px;
  margin: 10px;
}

.project-desc {
  flex-basis: 100%;
  padding: 10px;
  margin: 10px;
}

.page-links2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}
