.project-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

.projects {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 20px;
  max-width: 100%;
}
