:root {
  --main-color: #d1d0d0;
  --text-color-one: #000000;
  --text-color-two: #ffffff;
  --accent-color-one: #988986;
  --accent-color-two: #5c4e4e;
}

.project {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 50px);
  max-width: 600px;
  padding: 20px;
  margin: 25px;
  background: var(--main-color);
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.project:hover {
  transform: translateY(-4px);
  transition: 0.2s ease;
}

.project img {
  display: block;
  margin: 0 auto;
  width: fit-content;
  max-height: 500px;
  object-fit: scale-down;
  border: solid 5px var(--accent-color-two);
  border-radius: 15px;
  background: var(--accent-color-two);
  padding: 5px;
}

.project-title {
  padding: 10px 10px 0px 10px;
  margin: 10px;
}

.project-desc {
  flex-basis: 100%;
  padding: 10px 10px 0px 10px;
  margin: 10px;
}

.tech-list {
  flex-basis: 100%;
  padding: 0px 20px 0px 20px;
  margin: 0px 10px 10px 10px;
}

.page-links2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-between;
}
